.navbar{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.lists{
    display: flex;

}
a{
    text-decoration: none;
    color: var(--color-link);
    margin: 10px;
}
button{
    height:40px;
    border: none;
    border-radius: 3px;
    background-color: var(--color-link);}
#signin{
    background-color: red;
   
}
#AddListing{
    background-color: black;
    
    color: white;
}